<extend name="Common/layout" />

<block name="container">

    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{:U('/')}"><i class="fa fa-home"></i></a></li>
            <li><a href="{:U('/cart')}">购物车</a></li>
            <li><a href="javascript:;">结账</a></li>
        </ul>
        <div class="row">
            <div id="content" class="col-sm-12">
                <h1>结账</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-shipping-address" aria-expanded="false">第 1 步 货运地址 <i class="fa fa-caret-down"></i></a>
                        </h4>
                    </div>
                    <!-- <div class="panel-collapse collapse" id="collapse-shipping-address"> -->
                    <div id="collapse-shipping-address" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="existing" name="shipping_address">
                                    使用现存地址</label>
                            </div>
                            <div id="shipping-existing" style="display: block;">
                                <select class="form-control" name="address_id" id="select-address_id">
                                </select>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="new" name="shipping_address">
                                添加一个新地址</label>
                            </div>
                            <br>
                            <div style="display:none;" id="shipping-new">
                                <form action="" id="form-address" class="form-horizontal">


                                <div class="form-group required">
                                    <label for="input-shipping-name" class="col-sm-2 control-label">您的姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-shipping-name" placeholder="您的姓名" value="" name="name">
                                    </div>
                                </div>
                                <div data-sort="1" class="form-group required custom-field">
                                    <label for="input-telephone" class="col-sm-2 control-label">手机号码</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-telephone" placeholder="手机号码" value="" name="telephone">
                                    </div>
                                </div>
                                <div class="form-group">
                                <label for="input-company" class="col-sm-2 control-label">公司名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input-company" placeholder="公司名称" value="" name="company">
                                </div>
                            </div>
                                <div class="form-group required">
                                    <label for="input-region-level-1" class="col-sm-2 control-label">省/直辖市</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="input-region-level-1" name="region_one_id" data-level="1">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="input-region-level-2" name="region_two_id" data-level="2"></select>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" id="input-region-level-3" name="region_three_id" data-level="3"></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-address" placeholder="地址" value="" name="address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-postcode" class="col-sm-2 control-label">邮编</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-postcode" placeholder="邮编" value="" name="postcode">
                                    </div>
                                </div>

                                </form>

                            </div>

                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <input type="button" class="btn btn-primary" data-loading-text="正在加载..." id="button-shipping-address" value="继续">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-shipping-method" aria-expanded="false">第 2 步 货运方式 <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-shipping-method" class="panel-collapse collapse" aria-expanded="false" style="">
                        <div class="panel-body"><p id="p-shipping-list">请选择一个货运方式。</p>
                            <p><strong>添加订单备注</strong></p>
                            <p>
                                <textarea class="form-control" rows="8" name="comment"></textarea>
                            </p>
                            <div class="buttons">
                                <div class="pull-right">
                                    <input type="button" class="btn btn-primary" data-loading-text="正在加载..." id="button-shipping-method" value="继续">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-payment-method" aria-expanded="false">第 3 步 支付方式 <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-payment-method" class="panel-collapse collapse" aria-expanded="false" style="">
                        <div class="panel-body"><p>请选择一个支付方式。</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="bank_transfer" name="payment_method">
                                    银行转账      </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" checked="checked" value="cod" name="payment_method">
                                    货到付款      </label>
                            </div>
                            <p><strong>添加订单备注</strong></p>
                            <p>
                                <textarea class="form-control" rows="8" name="comment"></textarea>
                            </p>
                            <div class="buttons">
                                <div class="pull-right">我已经阅读并同意 <a alt="条款及条件" href="http://php.kang.com/test/s/index.php?route=information/information/agree&amp;information_id=5" class="colorbox"><b>条款及条件</b></a> 条款        <input type="checkbox" value="1" name="agree">
                                    &nbsp;
                                    <input type="button" class="btn btn-primary" data-loading-text="正在加载..." id="button-payment-method" value="继续">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-checkout-confirm" aria-expanded="true">第 4 步 确认订单 <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-checkout-confirm" class="panel-collapse collapse" aria-expanded="false" style="">
                        <div class="panel-body"><div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td class="text-left">商品名称</td>
                                    <td class="text-left">型号</td>
                                    <td class="text-right">数量</td>
                                    <td class="text-right">价格</td>
                                    <td class="text-right">合计</td>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td class="text-right" colspan="4"><strong>商品总额:</strong></td>
                                    <td class="text-right">￥<span id="total_price"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="4"><strong><span id="span-shippingTitle"></span>:</strong></td>
                                    <td class="text-right">￥<span id="span-shippingFee"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="4"><strong>订单总额:</strong></td>
                                    <td class="text-right">￥<span id="span-order_total"></span></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                            <div class="buttons">
                                <div class="pull-right">
                                    <input type="button" data-loading-text="正在加载..." class="btn btn-primary" id="button-confirm" value="确认订单">
                                </div>
                            </div>
                            <script type="text/javascript"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</block>

<block name="appendJS">
    <script>
        $(function() {
            // 获取当前会员的收货地址
            var url = "{:U('/addressList')}";
            var data = {};
            $.get(url, data, function(resp){
                if (resp.error != 0) {
                    console.log(resp.errorInfo);
                    return ;
                }
                var addressList = resp.data;
                if (addressList.length == 0) {
                    // 没有地址, 需要增加新地址
                    $(':radio[name=shipping_address][value=existing]').prop('checked', false);
                    $(':radio[name=shipping_address][value=new]').prop('checked', true);
                    $('#shipping-new').show();
                } else {
                    // 如果存在地址, 将地址的option列表展示
                    var html = '';
                    $.each(addressList, function(i, address) {
                        html += '<option value="' + address.address_id + '"';
                        if (address.is_default == '1') {
                            html += " selected";
                        }
                        html += '>' + address.name + ',' + address.telephone, + ',' + address.address + '</option>';
                    });
                    $('#select-address_id').append(html);

                    $(':radio[name=shipping_address][value=existing]').prop('checked', true);
                    $(':radio[name=shipping_address][value=new]').prop('checked', false);

                }

            }, 'json');


            $(':radio[name=shipping_address][value=new]').click(function() {
                $('#shipping-new').show();
            });
        });
    </script>

    <script>
        /**
         * 查找某个父地区下所有的子地区
         * @param parent_id
         * @return 地区列表数组
         */
        function childRegion(parent_id)
        {
            var url = "{:U('/childRegion')}";
            var data = {
                parent_id: parent_id,
            };
            var list = [];
            $.ajax({
                async: false, // 非异步
                url: url,
                type: 'get',
                data: data,
                dataType: 'json',
                success: function (resp) {
                    if (resp.error != 0) {
                        console.log(resp.errorInfo);
                        list = [];
                    } else {
                        list = resp.data;
                    }
                }
            });

            return list;
        }
        // 以那个为paernt_id获取数据, 以此填充level为几的下拉列表
        function setRegion(parent_id, level) {
            // 一: 利用parent_id获取子地区
            var regionList = childRegion(parent_id);

            // 二: 利用子地区, 填充地区选择下拉列表
            var html = '<option value="-1"> --- 请选择 --- </option>';
            $.each(regionList, function(i, region) {
                html += '<option value="' + region.region_id + '">' + region.title + '</option>' + '\n';
            });

            $('#input-region-level-'+level).empty().append(html);

            // 三: 重置后边的级别
            for(var l=level+1, t=3; l<=t; ++l) {
                $('#input-region-level-'+l).empty().append('<option value="-1"> --- 请选择 --- </option>');
            }
        }
        // c初始化时, 填充1级地区, 使用1为parent_id
        $(function() {
            // 初始化1级地区
            setRegion(1, 1);

            // 绑定列表的change事件
            $('select[id^=input-region-level-]').change(function(evt) {
                // 如果切换到请选择, 不做任何操作
                if ($(this).val() == "-1") {
                    return ;
                }
                // 利用当前选择的ID, 获取子地区, 填充下个level的列表
                setRegion($(this).val(), parseInt($(this).data('level'))+1);
            });
        });
    </script>

    <script>
        // 添加新地址
        $('#button-shipping-address').click(function(evt) {
            // 收集表单数据
            var data = new FormData(document.getElementById('form-address'));

            // 发出ajax请求
            var url = "{:U('/addAddress')}";
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: data,// new FormData, 不需要再处理
                processData: false, // 不再处理
                contentType: false, // 不要处理
                success: function(resp) {
                    document.getElementById('form-address').reset();
                    $('#shipping-new').hide();

                    // 如果存在地址, 将地址的option列表展示
                    var html = '';
                    addressList = resp.data;
                    $.each(addressList, function(i, address) {
                        html += '<option value="' + address.address_id + '"';
                        if (address.is_default == '1') {
                            html += " selected";
                        }
                        html += '>' + address.name + ',' + address.telephone, + ',' + address.address + '</option>';
                    });
                    $('#select-address_id').empty().append(html);
                    $(':radio[name=shipping_address][value=existing]').prop('checked', true);
                    $(':radio[name=shipping_address][value=new]').prop('checked', false);

                }
            });

            evt.preventDefault();
        })

    </script>


    <script>

        function flushShippingFee()
        {
            var shippingInput = $(':radio[name=shipping_method]:checked:eq(0)');
            $('#span-shippingTitle').html(shippingInput.data('title'));
            $('#span-shippingFee').html(shippingInput.data('price'));
        }
    </script>


    <script>
//            获取配送方式
        $(function(){
            var url = "{:U('/shippingList')}";
            var data = {};
            $.get(url, data, function(resp) {
                if (resp.error != 0) {
                    return ;
                }

                var html = '';
                $.each(resp.data, function(i, shipping) {
                    html += '<p><strong>' +
                            shipping.title +'</strong></p><div class="radio"><label><input type="radio"';
                    if (i == 0) {
                        html += ' checked';
                    }
                    html += ' value="' +
                            shipping.key+'" name="shipping_method" data-price="' +
                            shipping.price + '" data-title="' +
                            shipping.title + '">' +
                            shipping.price + '</label></div>';
                });
                $('#p-shipping-list').after(html);

                // 绑定 radio的cick事件
                $(':radio[name=shipping_method]').click(function(evt) {
                    flushShippingFee();
                    flushOrderTotal();
                });

                flushShippingFee();
            }, 'json');
        });
    </script>

    <script>

        function flushOrderTotal()
        {
            var shippingFee = $(':radio[name=shipping_method]:checked:eq(0)').data('price');// 运费
            var orderTotal = parseFloat(shippingFee) + parseFloat(wareTotal);
            $('#span-order_total').html(orderTotal);
        }
    </script>

    <script>
        // 获取订单商品信息
        $(function() {
            var url ="{:U('/cartInfo')}";
            var data = {};
            $.get(url, data, function(resp) {
                if (resp.error != 0) {
                    return ;
                }
                var wareList = resp.data.wareList;
                var html = '';
                $.each(wareList, function(i, ware) {
                    html += '<tr><td class="text-left"><a href="' +
                            ware.url + '">' +
                            ware.name + '</a></td>' +
                            '<td class="text-left">' +
                            (ware.option || '') + '</td><td class="text-right">' +
                            ware.buy_quantity + '</td><td class="text-right">￥' +
                            ware.real_price + '</td><td class="text-right">￥' +
                            ware.total_price + '</td></tr>';
                });
                $('#collapse-checkout-confirm table tbody').append(html);

                var cart = resp.data.cart;
                $('#total_price').html(cart.total);

                wareTotal = cart.total;// 全局的商品总金额

                // 刷新订单总金额
                flushOrderTotal();
            }, 'json');
        })
    </script>


    <script>
        $(function(){
            $('#button-confirm').click(function(evt){
                // 收集订单的必要信息
                var data = {
                    'address_id': $('#select-address_id').val(),
                    'shipping_method_key': $(':radio[name=shipping_method]:checked:eq(0)').val(),
                    'payment_method_key': $(':radio[name=payment_method]:checked:eq(0)').val(),
                    'shipping_comment': $('#textarea-shipping_comment').val(),
                    'payment_comment': $('#textarea-payment_comment').val(),
                };
                // ajax请求加入订单队列
                var url = '{:U("/order")}';
                $.post(url, data, function(resp) {
                    if (resp.error != 0) {
                        return ;
                    }
                    // 跳转到等待页面
                    location.href = '{:U("/result")}';
                }, 'json');
            });

        })
    </script>



</block>