    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BuyPlus(败家Shopping）</title>
    <meta name="description" content="BuyPlus(败家Shopping）" />
    <meta name="keywords" content= "BuyPlus(败家Shopping）" />
    <link href="__PUBLIC__/Home/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/Home/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Home/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/Home/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="__PUBLIC__/Home/image/cart.png" rel="icon" />
    <script src="__PUBLIC__/Home/javascript/jquery-1.11.3.min.js" type="text/javascript"></script>
