<!DOCTYPE html>
<!--[if IE]>
<![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="zh-CN" class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="zh-CN" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]>
<!-->
<html dir="ltr" lang="zh-CN">
<!--<![endif]-->
<head>
<include file="Common/head" />
<block name="appendCSS"></block>
</head>
<body>

<include file="Common/nav" />

<include file="Common/header" />

<include file="Common/menu" />

<block name="container"></block>


<include file="Common/footer" />

<block name="appendJS" ></block>
</body>
</html>